<div class="profile-container">
    <div class="profile-header">
        <img class="large-profile-image" src="/static/<%= logged_in_profile_photo %>" alt="Profile Picture">
        <div class="viewed-profile-info">
            <p id="large-username-text"><%= logged_in_username %></p>
            <p id="profile-bio"><%= profile_bio %></p>
            <div id="update-bio"></div>
        </div>
    </div>
      
    <div class="profile-actions">
        <div class="form-container">
            <form action="/profiles/update_profile_photo" method="post" enctype="multipart/form-data">
                <label for="new_profile_photo">Change Profile Photo:</label>
                <input type="file" id="new_profile_photo" name="new_profile_photo" accept="image/*">
                <input class="button" type="submit" value="Update">
            </form>           
        </div>
    </div>
    <div id="incoming-requests-root"></div>
    <form action="/logout" method="post">
        <button class="button" type="submit">Logout</button>
    </form>
    </div>
    <div class="results-wrapper">
      <div id="results">
        <% user_content.forEach(function(item) { %>
            <%- include('../content_widget', {item: item}) %>
        <% }); %>
      </div>
    </div>
</div>

    