<head>
    <title><%= group.name &></title>
</head>
<body>
    <header>
        <div class="banner">
            <img class="group-photo" src="<% = group.group_photo %>" alt="<%= group.name %>">
            <h1><% = group.name %></h1>
            <p><%= group.member_count %> followers</p>
        </div>
    </header>
    <main>
        <div class="channels">
            <h2>Channels</h2>
            <ul>
                <% group.channels.forEach(function(channel) { %>
                    <li><%= channel %></li>
                <% }); %>
            </ul>
        </div>
        <div id="add-channel-section">
            <p>Add channel</p>
            <form id="add-channel-form" action="/add_channel" method="post">
                <input type="text" name="Name" placeholder="Channel name">
                <input id="create-group-button" type="submit" value="Add">
            </form>
        </div>
    </main>
</body>
