<head>
    <title>Group</title>
</head>
<body>
    <header>
        <div class="banner">
            <img class="group-photo" src="../static/images/site_images/blank-group-icon.jpg">
            <h1>Group</h1>
        </div>
    </header>
    <main>
        <div class="channels">
            <h2>Channels</h2>
            <ul>
                <li>Hello</li>
                <li>There</li>
                <li>Welcome</li>
            </ul>
        </div>
    </main>
</body>