.authentication-container {
    background-color: #000514;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 100px;
    padding: 16px;
    text-align: center;
    width: 300px;
}
.authentication-input-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    outline: none;
    padding: 12px;
    width: 100%;
}
.submit {
    background-color: #000514;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    transition: background-color 0.3s;
    width: 100%;
}
.link {
    align-self: center;
    background-color: #000514;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link:hover, .submit:hover{
    background-color: #41445a;
}

.login-register{
    display: flex;
    justify-content: space-between;
}
