@import url('variables.css');
a {
    color: inherit;
    text-decoration: none;
}
.button.active, .button:hover, .button.selected:focus, .chat-channel-button:hover, .conversation-button:hover, .dark-button:hover, .dark-button.selected:focus, .icon-button:hover, .large-icon:hover, #messages-button:hover, .posts-channel-button:hover, .small-icon:hover {
    background-color: var(--light);
    cursor: pointer;
}
body, html {
    background-color: var(--darkest);
    color: var(--lightest);
    font-family: Arial, sans-serif;
    font-size: large;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
.button {
    background-color: var(--darkest);
}
.button, .dark-button {
    border-radius: var(--small-margin);
    border: none;
    color: var(--lightest);
    padding: 3px 6px;
    margin:  var(--small-margin);
    transition: background-color var(--transition-regular);
}
.button, .dark-button, .dark-button-disabled {
    font-size: clamp(6px, 2vw, 16px);
}
.button.large {
    font-size: clamp(6px, 3vw, 24px);
}
.dark-text {
    color: var(--darkest);
}
.disabled:hover {
    background: none;
    cursor: default;
}
.error-message {
    height: clamp(6px, 2vw, 16px);
    margin: var(--small-margin);
    text-align: center;
}
.faded-text {
    color: var(--light);
}
.icon-text {
    margin: 0 0 0 8px;
}
input[type="text"] {
    outline: none;
}
label {
    margin: 10px;
}
.large-icon, .small-icon {
    align-items: center;
    background: none;
    border: none;
    border-radius: clamp(2px, 0.6vw, 5px);
    color: var(--lightest);
    display: flex;
    justify-content: center;
    margin: clamp(2px, 0.3vw, 5px);
    padding: clamp(2px, 0.3vw, 5px);
}
.large-icon {
    font-size: clamp(6px, 3vw, 24px);
}
p, .channel-link {
    font-size: clamp(6px, 2vw, 16px);
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}
.small-icon {
    font-size: clamp(6px, 2vw, 16px);
}
.spinner {
  animation: spin 1s linear infinite;
}
/*Numbers refer to max size pixels, may need changing for consistency*/
.text16 {
    font-size: clamp(6px, 2vw, 16px);
}
.text24 {
    font-size: clamp(6px, 3vw, 24px);
}
.text36 { 
    font-size: clamp(6px, 4vw, 36px);
}
.text48 { 
    font-size: clamp(6px, 5vw, 48px);
}
.text16, .text24, .text36, .text48 {
    margin: clamp(2px, 2vw, 8px);
    max-width: 96%;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}