@import url('variables.css');
a {
    color: inherit;
    text-decoration: none;
}
.button.active, .button:hover, .button.selected:focus, .chat-channel-button:hover, .conversation-button:hover, .dark-button:hover, .dark-button.selected:focus, .icon-button:hover, .large-icon:hover, #messages-button:hover, .posts-channel-button:hover, .small-icon:hover {
    background-color: var(--light);
    cursor: pointer;
}
body, html {
    background-color: var(--darkest);
    color: var(--lightest);
    font-family: Arial, sans-serif;
    font-size: large;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
.button {
    background-color: var(--darkest);
}
.button, .dark-button {
    border-radius: var(--small-margin);
    border: none;
    color: var(--lightest);
    padding: 3px 6px;
    margin:  var(--small-margin);
    transition: var(--transition-regular);
}
.button, .dark-button, .dark-button-disabled {
    font-size: large;
}
.button.large {
    font-size: x-large;
}
.dark-text {
    color: var(--darkest);
}
.disabled {
    cursor: default;
}
.disabled:hover {
    background: none;
}
.error-message {
    height: 16px;
    margin: 4px;
    text-align: center;
}
.faded-text {
    color: #7b7b7b;
}
.icon-text {
    margin: 0 0 0 8px;
}
input[type="text"] {
    outline: none;
}
label {
    margin: 10px;
}
.large-icon, .small-icon {
    align-items: center;
    background: none;
    border: none;
    border-radius: 8px;
    color: var(--lightest);
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px; 
}
.large-icon {
    font-size: x-large;
}
p, .channel-link {
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}
.small-icon {
    font-size: large;
}
.text16 {
    font-size: 16px;
}
.text24 {
    font-size: 24px;
}
.text36 {
    font-size: 36px;
}
.text16, .text24, .text36 {
    margin: 8px;
    max-width: 96%;
}