@import url('variables.css');
a {
    color: inherit;
    text-decoration: none;
}
.button.active, .button:hover, .button.selected:focus, .chat-channel-button:hover, .conversation-button:hover, .dark-button:hover, .dark-button.selected:focus, .icon-button:hover, .large-icon:hover, #messages-button:hover, .posts-channel-button:hover, .small-icon:hover {
    background-color: var(--light);
    cursor: pointer;
}
body, html {
    background-color: var(--darkest);
    color: var(--lightest);
    font-family: Arial, sans-serif;
    font-size: var(--small-text);
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
.button {
    background-color: var(--darkest);
}
.button, .dark-button {
    border-radius: var(--small-margin);
    border: none;
    color: var(--lightest);
    padding: var(--small-margin);
    margin:  var(--small-margin);
    transition: background-color var(--transition-regular);
}
.button, .dark-button, .dark-button-disabled {
    font-size: var(--small-text);
}
.button.large {
    font-size: var(--small-text);
}
.clickable {
    border-radius: var(--small-margin);
    cursor: pointer;
    padding: var(--small-margin);
}
.clickable:hover {
    background-color: var(--light);
}
.dark-text {
    color: var(--darkest);
}
.disabled:hover {
    background: none;
    cursor: default;
}
.error-message {
    height: var(--small-text);
    margin: var(--small-margin);
}
.faded-text {
    color: var(--light);
}
.icon-text {
    margin: 0 0 0 var(--medium-margin); /*Text always to the right of the icon*/
}
input[type="text"] {
    outline: none;
}
label {
    margin: var(--medium-margin);
}
.large-icon, .small-icon {
    align-items: center;
    background: none;
    border: none;
    border-radius: clamp(2px, 0.6vw, 5px);
    color: var(--lightest);
    display: flex;
    justify-content: center;
    margin: clamp(3px, 1vw, 5px);
    padding: clamp(3px, 1vw, 5px);
}
.large-icon {
    font-size: var(--medium-text);
}
p, .channel-link {
    font-size: var(--small-text);
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: var(--medium-margin);
}
.small-icon {
    font-size: var(--small-text)
}
.spinner {
    animation: spin 1s linear infinite;
}
/*Numbers refer to max size pixels, may need changing for consistency*/
.text16 {
    font-size: var(--small-text);
}
.text24 {
    font-size: var(--medium-text);
}
.text36 { 
    font-size: var(--large-text);
}
.text48 { 
    font-size: var(--xl-text);
}
.text16, .text24, .text36, .text48 {
    margin: clamp(2px, 2vw, 8px);
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}