@media (max-width: 768px) {
  .main-content { 
    flex-direction: column; 
  }
}
.action-buttons-sticky {
  background-color: var(--dark);
  padding-bottom: var(--medium-margin);
  position: sticky;
  top: 0;
  z-index: 100;
}
.action-buttons {
  display: flex;
  gap: var(--medium-margin);
  justify-content: center;
}
.ai-generator {
  align-items: center;
  display: flex;
  gap: var(--medium-margin);
}
.ai-generator textarea.ai-prompt {
  flex: 1;
  padding: var(--medium-margin);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  background-color: var(--darkest);
  color: var(--lightest);
  resize: vertical;
  min-height: var(--xl-margin);
  box-sizing: border-box;
}
.ai-prompt {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--lightest);
  padding: var(--medium-margin);
  resize: vertical;
  width: 90%;
}
.block {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: var(--medium-margin);
  box-sizing: border-box;
  margin-top: var(--medium-margin);
  padding: var(--medium-margin);
  width: 100%;
}
.block-controls {
  display: flex;
  gap: var(--small-margin);
  justify-content: flex-end;
  margin-bottom: var(--medium-margin);
}
.blocks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--large-margin);
}
.block iframe, .live-preview-container iframe {
  border: none;
  height: auto;
  width: 100%;
}
.code-editor-container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-margin);
}
.code-input {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--lightest);
  height: 40vh;
  padding: var(--medium-margin);
  resize: vertical;
  width: 95%;
}
.code-preview {
  border-radius: var(--small-margin);
  color: var(--lightest);
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.content-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.control-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: clamp(6px, 2vw, 16px);
}
.create-post-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 99%;
}
.dropdown-menu {
  background-color: var(--dark);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--lightest);
  padding: var(--small-margin);
  position: absolute;
  right: 0;
  width: calc(8 * var(--large-margin));
  z-index: 10;
}
.global-ai-prompt-container {
  align-items: center;
  display: flex;
  margin-bottom: var(--medium-margin);
  gap: var(--medium-margin);
  width: 100%;
}
.live-preview-container {
  border-radius: var(--medium-margin);
  box-sizing: border-box;
  min-height: 80%;
  overflow: hidden;
  padding: var(--medium-margin);
  width: 100%;
}
.live-preview-container iframe {
  border: none;
  height: auto;
  width: 100%;
}
.main-content {
  display: flex;
  gap: var(--large-margin);
  height: 100%;
  width: 100%;
}
.media-preview img, .media-preview video {
  border-radius: var(--small-margin);
  height: auto;
  max-width: 100%;
}
.post-form {
  background-color: var(--dark);
  border: 1px solid var(--border);
  border-radius: var(--large-margin);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: var(--medium-margin);
  width: 100%;
}
.post-reply-preview {
   width: 100%; 
}
.preview-prompt-container { 
  min-width: 50%;
}
.quill.text-editor { 
  background-color: var(--darkest); 
}
.ql-editor.ql-blank::before { 
  color: #7b7b7b !important; 
}
.ql-toolbar button svg,
.ql-toolbar button svg * {
	stroke: #7b7b7b !important;
}
.ql-toolbar .ql-fill,
.ql-toolbar .ql-stroke {
	stroke: #7b7b7b !important;
}
.shared-container { 
  display: flex;
  flex: 1; 
  flex-direction: column; 
  gap: var(--large-margin); 
}
.single-container {
  min-height: 46%;
}
.single-container.edit {
  border-radius: var(--small-margin);
}
.title-input {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--lightest);
  margin-bottom: var(--large-margin);
  padding: var(--medium-margin);
  width: 100%;
}