@import url('variables.css');
.add-reply {
    display: flex;
    height: 50vh;
    justify-content: center;
}
.ask-note {
    background-color: var(--dark);
    border: 1px solid var(--dark-line);
    border-radius: var(--medium-margin);
    margin: var(--medium-margin);
    padding: 1px;
    width: 97%;
}
.ask-note-text {
    font-size: medium;
    margin: var(--medium-margin);
}
.content-item, .result-widget {
    background-color: var(--darkest);
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    margin-bottom: var(--large-margin);
    padding: var(--large-margin);
    padding-bottom: var(--medium-margin);
}
.content-item.reply {
    box-shadow: none;
    margin-bottom: 0;
    margin-left: var(--large-margin);
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
}
.content-item.reply::before {
    background-color: var(--dark-line);
    bottom: 0;
    content: '';
    position: relative;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px; 
}
.content-item * {
    cursor: inherit;
}
.content-list {
    margin: 0;
    margin-top: var(--medium-margin);
    width: 90%;
}
.content-item, .content-list {
    box-sizing: border-box;
}
.content-metadata {
    align-items: center;
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    width: 98%;
}
.feed-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.horizontal-container {
    align-items: flex-start;
    border-left: 1px solid var(--dark-line);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--medium-margin);
    padding-left: var(--medium-margin);
    position: relative;
}
.large-widget-text {
    font-size: 36px;
    margin: 10px 10px 10px 0;
}
.name-connection-box {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.replies-footer {
    align-items: center;
    display: flex;
    justify-content: center;
}
.reply-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.result-info-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: var(--medium-margin);
}
.result-widget {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    transition: 0.3s;
}
.result-widget:hover {
    transform: translate(5px, -5px);
}
.post-list {
    margin: 0px;
}
.search-result-info-box {
    align-items: center;
    display: flex;
    justify-content: center;
}
.title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.uploader-info {
    display: flex;
    align-items: center;
    position: relative;
}
.uploader-photo {
    height: 40px; 
    width: 40px; 
    border-radius: 50%;
}

