@media (max-width: 768px) {
  .main-content { 
    flex-direction: column; 
  }
}
.ai-generator {
  align-items: center;
  display: flex;
  gap: var(--medium-margin);
}
.ai-generator textarea.ai-prompt {
  flex: 1;
  padding: var(--medium-margin);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  background-color: var(--darkest);
  color: var(--lightest);
  resize: vertical;
  min-height: var(--xl-margin);
  box-sizing: border-box;
}
.ai-prompt {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--lightest);
  padding: var(--medium-margin);
  resize: vertical;
  width: 90%;
}
.block {
  background-color: var(--darkest);
  box-sizing: border-box;
  padding: var(--medium-margin);
  padding-left: 0;
  width: 100%;
}
.block-controls {
  display: flex;
  gap: var(--small-margin);
  justify-content: flex-end;
  margin-bottom: var(--medium-margin);
}
.blocks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--large-margin);
}
.block-drag-container {
  border-top: 1px solid var(--light);
}
.block iframe, .live-preview-container iframe {
  border: none;
  height: auto;
  width: 100%;
}
.code-editor-container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-margin);
}
.code-input {
  background-color: var(--darkest);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--lightest);
  height: 40vh;
  padding: var(--medium-margin);
  resize: vertical;
  width: 95%;
}
.code-preview {
  border-radius: var(--small-margin);
  color: var(--lightest);
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.content-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.control-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: clamp(6px, 2vw, 16px);
}
.create-post-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: var(--header-height);
  width: 99%;
}
.dropdown-menu {
  background-color: var(--dark);
  border: 1px solid var(--border);
  border-radius: var(--small-margin);
  color: var(--light);
  padding: var(--small-margin);
  position: absolute;
  right: 0;
  width: calc(10 * var(--large-margin));
  z-index: 10;
}
.main-content {
  display: flex;
  gap: var(--large-margin);
  height: 100%;
  width: 100%;
}
.media-preview img, .media-preview video {
  border-radius: var(--small-margin);
  height: auto;
  max-width: 100%;
}
.post-form {
  border: 1px solid var(--light);
  border-top-left-radius: var(--large-margin);
  border-top-right-radius: var(--large-margin);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.post-header-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.post-header-buttons-sticky {
  padding: var(--medium-margin);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.post-reply-preview {
  margin-bottom: var(--medium-margin);
   width: 100%; 
}
.preview-prompt-container { 
  min-width: 50%;
}
.quill.text-editor { 
  background-color: var(--darkest); 
}
.ql-editor.ql-blank::before { 
  color: var(--light) !important;
  font-size: var(--small-text) !important;
}
.ql-snow .ql-picker.ql-header {
  width: 80px !important;
}
.ql-toolbar.ql-snow, .ql-container.ql-snow { 
  border: none !important;
}
.ql-toolbar button svg, .ql-toolbar button svg * {
	stroke: var(--lightest) !important;
}
.ql-toolbar .ql-fill, .ql-toolbar .ql-stroke {
	stroke: var(--lightest) !important;
}
.ql-toolbar .ql-picker-label {
  color: var(--lightest) !important;
}
.ql-toolbar .ql-picker.ql-expanded .ql-picker-label {
  color: var(--lightest) !important;
}
.ql-toolbar .ql-picker-options {
  background-color: var(--dark) !important;
  color: var(--lightest) !important;
}
.ql-toolbar .ql-picker-item {
  color: var(--lightest) !important;
}
.ql-toolbar .ql-picker-label svg polygon {
  stroke: var(--lightest) !important;
  fill: var(--lightest) !important;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}
.single-container {
  min-height: 46%;
}
.title-input {
  align-self: center;
  background-color: var(--darkest);
  border: 1px solid var(--light);
  border-radius: var(--small-margin);
  box-sizing: border-box;
  color: var(--lightest);
  margin-bottom: var(--large-margin);
  padding: var(--medium-margin);
  width: 97%;
}