@import url('variables.css');
.button.delete {
    color: red;
}
.button.delete, .button.join {
    font-size: 36px;
    padding: 20px;
}
.button.join {
    background-color: var(--darkest);
    width: 200px;
}
.button.join:hover {
    background-color: var(--button-hover);
}
.button.join-small {
    font-size: 18px;
    padding: 10px;
    width: 100px;
}
.button-group {
    display: flex;
    gap: 8px; 
    justify-content: center;
}
.button.theme {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    padding-right: 10px;
}
.cancel-save {
    display: flex;
    gap: 10px;
}
.cancel-save-vertical {
    display: flex;
    flex-direction: column;
}
.channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
}
.channel-options {
    display: flex;
    flex-direction: column;
}
.channel-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#create-feed-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}
.deep-feeds-container {
    width: 90%;
}
.display-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}
.feed-drag-overlay, .deep-feed-drag-overlay {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    cursor: grabbing;
}
.feed-drag-overlay .feed-list-link-container,
.feed-drag-overlay .feed-list-link {
    display: flex;
    align-items: center;
}
.deep-feed-drag-overlay .deep-feed-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feed-header-photo {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.feed-info {
    align-items: center;
    display: flex;
}
.feed-link {
    align-items: center;
    display: flex;
}
.feed-list {
    width: 96%;
}
.feed-list-item.dragging {
    background-color: var(--dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.feed-list-item {    
    transition: var(--transition-regular);
    user-select: none;
}
.feed-name {
    align-items: center;
    display: flex;
}
.feed-settings {
    align-items: center;
    background-color: var(--darkest);
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    margin-top: -140px;
    height: 70%;
    padding: var(--large-margin);
    width: 70%;
}
.followers-header {
    background-color: var(--darkest);
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    padding: 5px;
    text-align: left;
    width: 80%;
}
#feed-summary {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%
}
.light-button.join {
    background-color: var(--dark);
}
.membership-join {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.name-photo-area {
    align-items: center; 
    display: flex;
    height: 70%;
    justify-content: space-between;
    width: 100%;
}
.option-toggle {
    border-radius: 10px;
    display: flex;
    margin: 10px;
    min-height: 36px;
    overflow: hidden;
    width: 180px;
}
.option-toggle button {
    background-color: var(--darkest);
    border: none;
    color: var(--border);
    cursor: pointer;
    flex: 1;
    font-weight: bold;
    outline: none;
    padding: 10px 20px;
    transition: var(--transition-regular);
}
.option-toggle button.active-mode {
    background-color: var(--light);
}
.option-toggle button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.option-toggle button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.option-toggle button.passive-mode:hover {
    background-color: var(--dark);
}
.results-wrapper {
    grid-column: 1 / 2;
    grid-row: 2;
    overflow-y: auto;
}
.search-result-profile {
    margin: 10px;
}
.settings-area {
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
}
.settings-feed-info {
    display: flex;
    flex-direction: column;
    gap: var(--large-margin);
    margin: 10px;
    width: 60%;
}
.settings-feed-photo {
    border-radius: 43px;
    height: 200px; 
    margin: 20px;
    width: 200px; 
}
.theme-box {
    border: 1px solid var(--border);
    height: 20px;
    margin: 0 5px;
    width: 20px;
}
.theme-container {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
#upload-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    background-color: var(--light);
    border-radius: 10px;
    border: 1px solid var(--border);
    max-width: 200px; 
    margin: 10px;
    max-height: 200px;
}