@import url('variables.css');
.button.delete {
    color: red;
}
.button.delete {
    font-size: clamp(6px, 4vw, 36px);
    padding: var(--large-margin);
}
.button.theme:hover {
    background-color: var(--light);
}
.button-group {
    display: flex;
    gap: var(--medium-margin);
    justify-content: center;
}
.button.theme {
    align-items: center;
    background-color: var(--darkest);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-width: calc(10 * var(--large-margin));
    padding-right: var(--medium-margin);
}
.cancel-save {
    display: flex;
    gap: var(--medium-margin);
}
.cancel-save-vertical {
    display: flex;
    flex-direction: column;
}
.channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
}
.channel-options {
    display: flex;
    flex-direction: column;
}
.channel-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#create-feed-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: var(--medium-margin);
    width: 100%;
}
.deep-feeds-container {
    width: 90%;
}
.display-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.feed-drag-overlay, .deep-feed-drag-overlay {
    opacity: 0.8;
    transform: scale(1.05);
    border-radius: var(--small-margin);
    padding: var(--medium-margin);
    width: 90%;
    cursor: grabbing;
}
.feed-drag-overlay .feed-list-link-container, .feed-drag-overlay .feed-list-link {
    display: flex;
    align-items: center;
}
.deep-feed-drag-overlay .deep-feed-header {
    padding: var(--medium-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feed-header-photo {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.feed-info {
    align-items: center;
    display: flex;
}
.feed-link {
    align-items: center;
    display: flex;
}
.feed-list {
    width: 96%;
}
.feed-list-item.dragging {
    background-color: var(--dark);
}
.feed-list-item {    
    transition: var(--transition-regular);
    user-select: none;
}
.feed-name {
    align-items: center;
    display: flex;
}
.feed-settings {
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--border);
    border-radius: var(--large-margin);
    display: flex;
    flex-direction: column;
    padding: var(--large-margin);
    width: 70%;
}
.feed-settings.short {
    height: clamp(300px, 40vw, 1000px);
}
.followers-header {
    background-color: var(--darkest);
    text-align: left;
    width: 80%;
}
#feed-summary {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%
}
.light-button.join {
    background-color: var(--darkest);
}
.membership-join {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: calc(2 * var(--medium-margin));
}
.name-photo-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}
.option-toggle {
    border: 1px solid var(--darkest);
    border-radius: var(--medium-margin);
    display: flex;
    margin: var(--medium-margin);
    min-height: clamp(4px, 4vw, 36px);
    overflow: hidden;
}
.option-toggle button {
    background-color: var(--dark);
    border: none;
    color: var(--lightest);
    cursor: pointer;
    flex: 1;
    font-size: clamp(6px, 2vw, 16px);
    font-weight: bold;
    outline: none;
    padding: var(--medium-margin) var(--large-margin);
    transition: var(--transition-regular);
}
.option-toggle button.active-mode {
    background-color: var(--darkest);
}
.option-toggle button:first-child {
    border-top-left-radius: var(--medium-margin);
    border-bottom-left-radius: var(--medium-margin);
}
.option-toggle button:last-child {
    border-top-right-radius: var(--medium-margin);
    border-bottom-right-radius: var(--medium-margin);
}
.option-toggle button.passive-mode:hover {
    background-color: var(--light);
}
.results-wrapper {
    grid-column: 1 / 2;
    grid-row: 2;
    overflow-y: auto;
}
.search-result-profile {
    margin: var(--medium-margin);
}
.settings-area {
    display: flex;
    justify-content: center;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    padding: var(--medium-margin);
    width: 100%;
}
.settings-feed-info {
    display: flex;
    flex-direction: column;
    gap: var(--large-margin);
    margin: var(--medium-margin);
    width: 40%;
}
.settings-feed-photo {
    border-radius: var(--xl-margin);
    height: calc(10 * var(--large-margin));
    margin: var(--large-margin);
    width: calc(10 * var(--large-margin));
}
.theme-box {
    border: 1px solid var(--border);
    height: var(--large-margin);
    margin: 0 var(--small-margin);
    width: var(--large-margin);
}
.theme-container {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
#upload-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--small-margin);
    background-color: var(--light);
    border-radius: var(--medium-margin);
    border: 1px solid var(--border);
    max-width: calc(10 * var(--large-margin)); 
    margin: var(--medium-margin);
    max-height: calc(10 * var(--large-margin));
}
@media (max-width: 768px) {
    .feed-settings {
        width: 100%;
    }
}