@import url('variables.css');
#chat-change, #chat-name {
    display: flex;
    flex-direction: column;
}
.chat-feed-link {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: var(--small-margin);
    text-decoration: none;
}
.chat-message-bar {
    background-color: var(--darkest);
    border: 1px solid var(--border);
    border-radius: var(--large-margin);
    color: var(--border);
    flex: 1;
    font-size: large;
    margin: var(--medium-margin);
    min-height: 40px;
    padding: var(--small-margin);
    width: 70%;
}
.chat-message-bar::placeholder {
    color: var(--border);
}
.chat-send-button {
    background-color: var(--dark);
    border: none;
    border-radius: var(--large-margin);
    color: var(--border);
    font-size: large;
    min-height: 50px;
    min-width: 90px;
    padding: var(--small-margin);
    transition: var(--transition-regular);
}
.chat-send-button:hover {
    background-color: var(--light);
}
.chat-send-button.disabled:hover {
    background-color: var(--dark);
}
.chat-input {
    padding: 10px;
    background-color: var(--border);
    border-top: 1px solid var(--darkest);
}
.connections-feed {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%
}
.dropdown-container {
    position: relative;
}
.input {
    width: 90%;
    padding: var(--medium-margin);
    margin-right: var(--small-margin);
    border: 1px solid var(--darkest);
    border-radius: var(--large-margin);
}
#messages-button {
    border-radius: 16px;
    color: var(--border);
    font-size: xx-large;
    height: 70%;
    padding: var(--small-margin);
    transition: var(--transition-regular);
}
.message {
    border-radius: var(--medium-margin);
    box-shadow: var(--shadow);
    cursor: default;
    margin: var(--small-margin);
    padding: var(--medium-margin);
    transition: 0.2s;
}
.message:hover {
    transform: translate(4px, -4px);
}
.message-content {
    align-items: center;
    display: flex;
}
.messages-channel-footer {
    align-items: center;
    background-color: var(--darkest);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 80px;
    justify-content: center;
    width: 100%;
}
.message.incoming {
    background-color: var(--darkest);
}
.message.outgoing {
    background-color: var(--light);
}
.message-container {
    margin: var(--small-margin);
    max-width: 70%;
}
.message-container.incoming {
    align-self: flex-start;
}
.message-container.outgoing {
    align-self: flex-end;
}
.message-date {
    margin: 0;
}
.message-info {
    align-items: center;
    display: flex;
    font-size: small;
}
.message-info.incoming {
    justify-content: start;
    margin-left: var(--small-margin);
}
.message-info.outgoing {
    justify-content: end;
    margin-right: var(--small-margin);
}
.read-status {
    color: var(--border);
    margin: var(--small-margin);
}
.tab-titles {
    display: flex;
    gap: 20px;
    margin: var(--medium-margin);
}
.tab-title {
    font-size: 24px;
    cursor: pointer;
}
.tab-title.active {
    font-weight: bold;
    text-decoration: underline;
}
.unread-badge {
    font-size: large;
    margin: var(--small-margin);
    position: relative;
    top: -30px;
}
.unread-count {
    color: var(--light);
    font-size: medium;
    margin: var(--small-margin);
    position: relative;
    top: -4px;
}