@import url('variables.css');
.channel-content.messages, .messages-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#chat-change, #chat-name {
    display: flex;
    flex-direction: column;
}
.chat-feed-link {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    text-decoration: none;
}
.chat-message-bar {
    background-color: var(--darkest);
    border: 1px solid var(--border);
    border-radius: 20px;
    color: var(--border);
    flex: 1;
    font-size: large;
    margin: 10px;
    min-height: 40px;
    padding: 5px;
    width: 70%;
}
.chat-message-bar::placeholder {
    color: var(--border);
}
.chat-send-button {
    background-color: var(--dark);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: var(--border);
    font-size: large;
    min-height: 50px;
    min-width: 90px;
    padding: 5px;
    transition: var(--transition-regular);
}
.chat-send-button:hover {
    background-color: var(--button-hover);
}
.chat-input {
    padding: 10px;
    background-color: var(--border);
    border-top: 1px solid var(--darkest);
}
.connections-feed {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%
}
.dropdown-container {
    position: relative;
}
.input {
    width: 90%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid var(--darkest);
    border-radius: 20px;
}
#messages-button {
    border: none;
    border-radius: 16px;
    color: var(--border);
    font-size: xxx-large;
    height: 70%;
    margin-right: 5%;
    padding: 8px;
    transition: var(--transition-regular);
}
.message {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
.message-content {
    align-items: center;
    display: flex;
}
.messages-channel-footer {
    align-items: center;
    background-color: var(--darkest);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 80px;
    justify-content: center;
    width: 100%;
}
.message.incoming {
    background-color: var(--darkest);
}
.message.outgoing {
    background-color: var(--button-hover);
}
.message-container {
    margin: 5px;
    max-width: 70%;
}
.message-container.incoming {
    align-self: flex-start;
}
.message-container.outgoing {
    align-self: flex-end;
}
.message-date {
    font-size: small;  
    margin: 0;
}
.messages-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
