.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.confirm-modal-content {
  background-color: var(--dark);
  padding: var(--large-margin);
  border-radius: var(--medium-margin);
  max-width: 90%;
  width: calc(12 * var(--xl-margin));
}
.confirm-modal-title {
  margin: 0 0 16px 0;
  font-size: var(--large-text);
  font-weight: bold;
}
.confirm-modal-message {
  margin: 0 0 24px 0;
  color: var(--lightest);
}
.confirm-modal-buttons {
  display: flex;
  gap: var(--small-margin);
  justify-content: flex-end;
}
.confirm-modal-cancel, .confirm-modal-confirm {
  padding: 8px 16px;
  border: none;
  border-radius: var(--small-margin);
  cursor: pointer;
  font-size: var(--medium-text);
  font-weight: bold;
}
.confirm-modal-cancel {
  background-color: var(--dark);
  color: var(--lightest);
}
.confirm-modal-confirm {
  background-color: #3d8e15;
  color: var(--lightest);
}
.confirm-modal-confirm.red {
  background-color: #dc3545;
}
.confirm-modal-cancel:hover, .confirm-modal-confirm:hover {
  opacity: 0.8;
}
.name-modal-input {
    width: 100%;
    padding: 8px 12px;
    margin: var(--large-margin) 0;
    border: 1px solid var(--light);
    border-radius: var(--small-margin);
    font-size: var(--medium-text);
    outline: none;
}
.name-modal-error {
    color: #d32f2f;
    font-size: var(--medium-text);
    margin: 5px 0;
}
@media (max-width: 768px) {
  .confirm-modal-content {
    margin: 16px;
  }
}