#create-post-container {
    width: calc(60%);
}
.ql-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white; 
}
.ql-editor[data-placeholder]::before {
    color: white;
}
.ql-editor img, .ql-editor video {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 80%;
}
.ql-snow .ql-picker{
    color: white;
}
.ql-snow .ql-stroke {
    stroke: white;
}
.ql-snow .ql-fill {
    fill: white;
}
.ql-snow .ql-picker-options {
    background-color: #000514;
}
.ql-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white; 
}
.quill {
    width: 100%;
}
#post-form {
    align-items: center;
    background-color: #000514;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
#title-entry {
    border: 1px solid white;
    background-color: #000514;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    transition: background-color 0.3s;
}
#title-entry:hover, #title-entry:focus {
    background-color: #41445a;
}
#title-entry::placeholder {
    color: white;
}