#bio-change-text-area {
    border-radius: 10px;
}
#change-profile-photo{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
#profile-container{
    display: flex;
    flex-direction: column;
    width: 1180px;
    background-color: #41445a;
    margin: 30px auto;
    margin-left: 155px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#profile-header{
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
#profile-header-photo{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
#profile-header-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#viewed-profile-info{
    margin: 10px;
    max-width: 400px;
}
#large-profile-image {
    height: 200px; 
    width: 200px; 
    border-radius: 50%;
    margin: 20px;
    display: block;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#large-username-text{
    font-size: 50px;
    margin-bottom: 10px;
}
.friend-requests{
    margin-top: 20px;
}
form{
    margin-bottom: 15px;
}
#upload-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    background-color: #41445a;
    border-radius: 10px;
    border: 1px solid #ffffff;
    max-width: 200px; 
    margin: 10px;
    max-height: 200px;
}
