#add-channel-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#follow-info {
    margin-left: 10px;
}
.friend-requests {
    margin-top: 20px;
}
#friend-request-list {
    margin: 10px;
}
.results-wrapper {
    grid-column: 1 / 2;
    grid-row: 2;
    overflow-y: auto;
}
#profile-header-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#upload-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    background-color: #41445a;
    border-radius: 10px;
    border: 1px solid #ffffff;
    max-width: 200px; 
    margin: 10px;
    max-height: 200px;
}
#viewed-profile-info {
    margin: 10px;
    max-width: 400px;
}
