:root {
    --border: #dddddd;
    --button-hover: #737484;
    --darkest: #0f0f0f;
    --darkest-hover:#151515;
    --dark: #2c2e31;
    --dark-line: #444;
    --large-gap: 20px;
    --medium-gap: 10px;
    --small-gap: 5px;
    --transition-regular: background-color 0.3s;
}
body.light {
    --border: #616161;
    --button-hover: #ffffff;
    --darkest: #c7c7c7;
    --darkest-hover: #e3e2e2;
    --dark: #e1e1e1;
    --dark-line: #7b7b7b;
}
body.blue {
    --border: #dddddd;
    --button-hover: #3d52a0;
    --darkest: #0b132b;
    --darkest-hover: #131d39;
    --dark: #273049;
    --dark-line: #444;
}
body.green {
    --border: #dddddd;
    --button-hover: #5a8a6c;
    --darkest: #001a0c;
    --darkest-hover: #0a2416;
    --dark: #003325;
    --dark-line: #444;
}
body.purple {
    --border: #dddddd;
    --button-hover: #5b1e7a;
    --darkest: #13001c;
    --darkest-hover: #200d29;
    --dark: #240343;
    --dark-line: #444;
}
body.red {
    --border: #dddddd;
    --button-hover: #873333;
    --darkest: #210303;
    --darkest: #291111;
    --dark: #312626;
    --dark-line: #444;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--darkest);
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px var(--dark);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover);
}