#aside-welcome-text {
    cursor: pointer;
    font-size: 48px;
    margin-top: 20px;
    position: relative;
}
#join-login {
    align-items: center;
}
#right-aside.light {
    background-color: var(--dark);
}
#welcome-items {
    align-items: center;
    display: flex;
    margin-top: 20px;
    position: relative;
}