@import url('variables.css');
#join-login {
    margin-top: 8px;
}
.left-aligned-text {
    margin: 24px;
    text-align: left;
}
.button.join.welcome {
    background-color: var(--dark);
    border: 1px solid var(--border);
    border-radius: 32px;
    margin: 16px;
    transition: 0.3s;
}
.button.join.welcome:hover, .welcome-box:hover {
    transform: translate(5px, -5px);
}
.welcome-box {
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--border);
    border-radius: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    transition: 0.3s;
}
.welcome-box.single {
    cursor: default;
    transition: none;
    width: 45%;
}
.welcome-box.single:hover {
    transform: none;
}
.welcome-box-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 36px;
    margin-top: 6px;
}
#welcome-center {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 16px)); 
    gap: 32px;
    margin-bottom: 32px;
    margin-top: 10px;
    width: 90%;
}
#welcome-container {
    align-items: center;
    background-color: var(--darkest);
    display: flex;
    flex-direction: column;
    margin: 0;
}
#welcome-text {
    font-size: 48px;
    margin-bottom: 8px;
    margin-top: 36px;
    position: relative;
}